<h1>HAPPY HOUR</h1>



<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants by City" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>



<div class="buttons">


  <%= check_box_tag(:pet_dog) %>
    <%= label_tag(:pet_dog, "Monday") %>
  <%= check_box_tag(:pet_cat) %>
    <%= label_tag(:pet_cat, "Tuesday") %>
<%= check_box_tag(:pet_cat) %>
  <%= label_tag(:pet_cat, "Wednesday") %>
  <%= check_box_tag(:pet_dog) %>
    <%= label_tag(:pet_dog, "Thursday") %>
  <%= check_box_tag(:pet_cat) %>
    <%= label_tag(:pet_cat, "Friday") %>
    <%= check_box_tag(:pet_dog) %>
      <%= label_tag(:pet_dog, "Saturday") %>
    <%= check_box_tag(:pet_cat) %>
      <%= label_tag(:pet_cat, "Sunday") %>
  </div>
